.quest-info-box {
  background-color: #6b059e1a;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 294px;
  position: relative;
  width: 560px;
}

.quest-info-box .QUEST-NAME {
  color: #ffffff;
  font-family: "Inconsolata", Helvetica;
  font-size: 37px;
  font-weight: 700;
  height: 43px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 507px;
}

.quest-info-box .quest-desc {
  color: #ffffff;
  font-family: "Inconsolata", Helvetica;
  font-size: 17px;
  font-weight: 700;
  height: 159px;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 85px;
  width: 460px;
}
